<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StaySafe.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
				<key>dateExpires</key>
				<string>24/10/24</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EstimoteBluetoothScanning.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EstimoteProximitySDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.30905.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>455E0C5A47CC5C0221B316B29515437ECCF45EAF</string>
						<key>dateExpires</key>
						<string>24/10/24</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3JQSF5VGAD</string>
						<key>name</key>
						<string>INTEGRASI MEDIA KREASI, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.11.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3JQSF5VGAD.id.staysafe.iosmobile</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3JQSF5VGAD</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>StaySafe.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f330978a-c3a6-4093-8aa6-d93a6be4e57d</string>
				<key>dateExpires</key>
				<string>18/11/23</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: id.staysafe.iosmobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3JQSF5VGAD</string>
				<key>name</key>
				<string>INTEGRASI MEDIA KREASI, PT</string>
			</dict>
			<key>versionNumber</key>
			<string>2.2.1</string>
		</dict>
	</array>
</dict>
</plist>
